body {
	margin: 0;
	font-family: Times,serif;
	font-style: normal;

}

header {
	margin: 0;
}


.navbar{
	background: #deeff7;
	margin: auto;
	padding-top: 5px;
}

.navbar h1 {

	font-size: 30px;
	color: darkblue;
	padding-left: 15px;
	padding-bottom: 10px;
	text-align: left;
}


.wrapper {
	margin: auto;
	width: 1230px;
}


main .wrapper {
	display: grid;
	grid-template-columns: 300px 300px 300px 300px;
	grid-template-rows: 150px 150px 150px 150px 80px 80px 80px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}


.box1 h1 {

	font-size: 25px;
	color: white;
	position:absolute;
	bottom:80px;
	padding-left: 15px;
}

.box2text h2 {

	font-size: 20px;
	color: black;
	position:absolute;
	padding-left: 15px;
	padding-top: 130px;
}

.box3text h2 {

	font-size: 20px;
	color: black;
	position:absolute;
	padding-left: 15px;
	padding-top: 130px;
}

.box4text h2 {

	font-size: 20px;
	color: black;
	position:absolute;
	padding-left: 15px;
	padding-top: 180px;
}

p {
	font-size: 15px;
	color: lightblue;
	position:absolute;
	bottom:40px;
	padding-left: 15px;

}

a {
	font-size: 10px;
	color: #5d90e2;
	position:relative;
	padding-left: 15px;
	top: 180px;
	text-decoration: none;
}

.box1 img {
	
	Width:610px;
	height:auto;
}

.box2 img  {

	width:300px;
	height:130px;
}

.box4 img {

	width:300px;
	height: 180px;
}

iframe {

	width:100%;
	height: 50%;
}

.box1 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 5;
	background-color: #0a295b;
	position: relative;
}

.box2 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 8;
	background-color: #dce2ed;
}

.box3 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 8;
	background-color: #dce2ed;
}

.box4 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: #dce2ed;
}

.box5 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 5;
	background-color: #dce2ed;
}

.box6 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 6;
	background-color: #dce2ed;
}

.box7 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 6;
	grid-row-end: 7;
	background-color: #dce2ed;
}

.box8 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 7;
	grid-row-end: 8;
	background-color: #dce2ed;
}

.box9 {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 5;
	background-color: #dce2ed;
}

.box10 {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 8;
	background-color: #dce2ed;
}


